@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.my-menuitem {
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.my-menuitem:focus{     
  outline: none; 
}

.my-menuitem:hover{  
  background-color: rgba(178,168,238, 0.3); 
}

.szh-menu {
  display: flex;
  flex-direction: column;
  background: #231D49;
  gap: 2px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #B2A8EE;
  border-radius: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
